##############
### gradle ###
##############

/.gradle/
/*/.gradle/

###############
### eclipse ###
###############

/bin/
/*/bin/

/build/
/*/build/

/target/
/*/target/

###############
### idea ######
###############
/*/out/

###########################
### first do not ignore ###
###########################

/.settings/
/*/.settings/

.classpath
/*/.classpath

.project
/*/.project

.metadata
/*/.metadata
